<app-header></app-header>
<div class="about-us">
    <section class="hero">
      <div class="hero-content">
        <h1>Sobre EcoRAEE</h1>
        <p>Reciclaje de Electrónica para un Futuro Más Verde</p>
      </div>
    </section>
  
    <section class="mission">
      <div class="container">
        <h2>Nuestra Misión</h2>
        <p>
          En EcoRAEE, estamos comprometidos con reducir el impacto ambiental de los desechos electrónicos. Ofrecemos soluciones
          sostenibles para la recolección, reciclaje y disposición segura de equipos eléctricos y electrónicos. Nuestro objetivo
          es promover una economía circular, dándole una segunda vida a los dispositivos viejos, reduciendo la cantidad de
          residuos en los vertederos y conservando recursos valiosos para el futuro.
        </p>
      </div>
    </section>
  
    <section class="team">
      <div class="container">
        <h2>Conoce al Equipo</h2>
        <div class="team-members">
          <div class="team-member">
            <img src="assets/team-member1.jpg" alt="Miembro del equipo 1">
            <h3>Juan Pérez</h3>
            <p>Fundador y Director General</p>
          </div>
          <div class="team-member">
            <img src="assets/team-member2.jpg" alt="Miembro del equipo 2">
            <h3>Ana García</h3>
            <p>Gerente de Operaciones</p>
          </div>
          <div class="team-member">
            <img src="assets/team-member3.jpg" alt="Miembro del equipo 3">
            <h3>María López</h3>
            <p>Especialista en Medio Ambiente</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  