<app-header></app-header>
<div class="about-us">
  <section class="mission">
    <div class="container">
      <h2>Nuestra Misión</h2>
      <p>
        En EcoRAEE, nos dedicamos a desarrollar una innovadora aplicación web
        que facilita la recolección directa de residuos de aparatos eléctricos y
        electrónicos (RAEE). Nuestro objetivo es reducir el impacto ambiental de
        estos residuos y promover una economía circular. Como un equipo
        comprometido con la sostenibilidad y la innovación tecnológica,
        conectamos de manera eficiente y accesible a los generadores de RAEE con
        centros de reciclaje.
      </p>
    </div>
  </section>

  <section class="team">
    <div class="container">
      <h2>Conoce al Equipo</h2>
      <div class="team-members">
        <div class="team-member">
          <h3>Hector E. Encarnacion Q.</h3>
        </div>
        <div class="team-member">
          <h3>Jean Carlo Paulino Flores</h3>
        </div>
        <div class="team-member">
          <h3>Eury Zorrilla</h3>
        </div>
      </div>
    </div>
  </section>
</div>
