<div class="login-container">
    <section class="login-form">
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="loginForm"> 
        <div class="form-group">
          <label for="username">Cédula</label>
          <input
            type="username"
            id="username"
            formControlName="username"
            placeholder="Ingresa tu Cédula"
            (input)="checkValidity(); formatID($event)"
          />
          <p *ngIf="loginForm.get('username')?.dirty && !loginForm.get('username')?.valid" class="error-message">Debes introducir un número de Cédula válido</p>
        </div>
  
        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="password-container">
          <input
            [type]="passwordFieldType"
            id="password"
            formControlName="password"
            placeholder="Ingresa tu contraseña"
            (input)="checkValidity()"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <span class="material-icons">{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</span>
          </button>
        </div>
        </div>
        <button class="submit-btn" (click)="login()" [disabled]="!checkValidity()">Inicia Sesión</button>
      </form>
  
      <div class="links">
        <a [routerLink]="['/forgot-password']" class="link">¿Olvidaste tu contraseña?</a>
        <a [routerLink]="['/register']" class="link">¿No tienes una cuenta? Regístrate</a>
      </div>
    </section>
  </div>
  