<app-header></app-header>
<div class="landing-page">
    <header class="hero">
      <div class="hero-content">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <p>{{ description }}</p>
        <a href="/login" class="cta-button">Únete al Reciclaje</a>
      </div>
    </header>
  
    <section class="mission">
      <div class="container">
        <h2>Nuestra Misión</h2>
        <p>{{ mission }}</p>
      </div>
    </section>
  
    <section class="services">
      <div class="container">
        <h2>¿Qué Hacemos?</h2>
        <ul>
          <li *ngFor="let service of services">{{ service }}</li>
        </ul>
        <p>¿Quieres saber más sobre nosotros? <a href="/about-us" class="link">¡Conoce al equipo!</a></p>
      </div>
    </section>
  </div>
  