<div class="dashboard" *ngIf="!error">
    <header class="dashboard-header">
      <p>Bienvenido, {{this.profile.name}}!</p>
    </header>
    <div class="dashboard-body">
      <main class="dashboard-content">
        <button (click)="openAppointmentsDialog()" style="margin-bottom: 1%;">Agendar cita</button>
        <div class="dashboard-map">
          <app-map></app-map>
        </div>
      </main>
    </div>
  </div>

  <div class="dashboard" *ngIf="error">
    <div class="dashboard-body">
      <main class="dashboard-content">
        <p class="error-message">Ha ocurrido un error. Por favor, intenta iniciar sesión otra vez.</p>
      </main>
    </div>
  </div>