<div class="dashboard" *ngIf="!error && (this.profile.admin === false || !this.profile.admin)">
  <header class="dashboard-header">
    <p>Bienvenido/a, {{ this.profile.name }}!</p>
  </header>
  <div class="dashboard-body">
    <main class="dashboard-content">
      <h2>Mis citas:</h2>
      <table mat-table [dataSource]="specificappointments" matSort #specificSort="matSort">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{ row.profileInfo.name + ' ' + row.profileInfo.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">{{ row.date }}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
          <td mat-cell *matCellDef="let row">{{ row.time }}</td>
        </ng-container>
        <ng-container matColumnDef="raees">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Objetos a recojer</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>
        <ng-container matColumnDef="appointmentCreated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cita creada</th>
          <td mat-cell *matCellDef="let row">{{ row.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de la cita</th>
          <td mat-cell *matCellDef="let row">
          {{ row.confirmed !== undefined ? translateStatus(row.confirmed) : 'Pendiente de confirmacion' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="cancelAppointment(row._id)" class="primary-button" *ngIf="translateStatus(row.confirmed) === 'Confirmada'">
              <span class="material-icons md-36">cancel</span>
            </a>
            <a (click)="deleteAppointment(row._id)" class="primary-button" *ngIf="translateStatus(row.confirmed) === 'Pendiente de confirmacion'">
              <span class="material-icons md-36">delete</span>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="specificDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: specificDisplayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #specificPaginator="matPaginator"></mat-paginator>
      <div class="add-appointment-container">
        <button (click)="openAppointmentsDialog()">Agendar cita</button>
      </div>
    </main>
  </div>
</div>

<!-- Admin Dashboard -->

<div class="dashboard" *ngIf="!error && this.profile.admin === true">
  <header class="dashboard-header">
    <p>Bienvenido/a, Admin {{ this.profile.name + ' ' + this.profile.lastName }}!</p>
  </header>
  <div class="dashboard-body">
    <main class="dashboard-content">
      <h2>Citas Totales:</h2>
      <select id="status-filter" (change)="applyFilter($event)">
        <option value="all">Todas</option>
        <option value="confirmed">Confirmada</option>
        <option value="cancelled">Cancelada</option>
        <option value="awaiting">Pendiente de confirmacion</option>
      </select>
      <table mat-table [dataSource]="appointments" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">{{ row.profileInfo.name + ' ' + row.profileInfo.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">{{ row.date }}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
          <td mat-cell *matCellDef="let row">{{ row.time }}</td>
        </ng-container>
        <ng-container matColumnDef="appointmentCreated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cita creada</th>
          <td mat-cell *matCellDef="let row">
            {{ row.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Estado de la cita
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.confirmed !== undefined ? translateStatus(row.confirmed) : 'Pendiente de confirmacion' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="raees">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Objetos a recojer</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="confirmAppointment(row._id)" class="primary-button" *ngIf="translateStatus(row.confirmed) === 'Pendiente de confirmacion'">
              <span class="material-icons md-36">check</span>
            </a>
            <a (click)="cancelAppointment(row._id)" class="primary-button" *ngIf="translateStatus(row.confirmed) === 'Pendiente de confirmacion'">
              <span class="material-icons md-36">cancel</span>
            </a>
            <a (click)="checkLocation(row.longitude, row.latitude)" class="primary-button">
              <span class="material-icons md-36">location_on</span>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>s
      <div class="dashboard-map">
        <app-map #mapComponent [locations]="this.locations"></app-map>
      </div>
    </main>
  </div>
</div>

<!-- Error -->
<div class="dashboard" *ngIf="error">
  <div class="dashboard-body">
    <main class="dashboard-content">
      <p class="error-message">
        Ha ocurrido un error. Por favor, intenta iniciar sesión otra vez.
      </p>
    </main>
  </div>
</div>
