@import '../../styles/variables';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/hero-about-us.jpeg") no-repeat center;
  background-size: cover;

  .login-form {
    background-color: white;
    padding: 40px;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;

    h1 {
      color: $primary-color;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;
      text-align: left;
      position: relative;

      label {
        display: block;
        font-size: 1rem;
        color: $text-color;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: $border-radius;
        font-size: 1rem;
        margin-bottom: 10px;
        box-sizing: border-box;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
    }

    .submit-btn {
      background-color: $primary-color;
      color: white;
      padding: 12px;
      font-size: 1rem;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    .submit-btn:disabled {
      background-color: gray;
      color: black;
      padding: 12px;
      font-size: 1rem;
      border: none;
      border-radius: $border-radius;
      cursor: not-allowed;
      width: 100%;
      transition: background-color 0.3s ease;
    }

    .links {
      margin-top: 15px;

      .link {
        color: $primary-color;
        font-size: 0.9rem;
        text-decoration: none;
        display: block;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .error-message {
      color: red;
    }
    
  }

  .password-container {
    position: relative;
  
    input {
      width: calc(100% - 40px);
      display: inline-block;
    }
  
    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  
    .material-icons {
      font-size: 24px;
      color: $text-color;
    }
  }
}