<div class="login-container">
  <section class="login-form">
    <h1>Recuperar Contraseña</h1>
    <form [formGroup]="forgotPasswordForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Ingresa tu correo electrónico"
          (input)="checkValidity()"
        />
        <p
          *ngIf="
            forgotPasswordForm.get('email')?.dirty &&
            !forgotPasswordForm.get('email')?.valid
          "
          class="error-message"
        >
          Debes introducir un número de Cédula válido
        </p>
      </div>

      <div class="form-group">
        <label for="username">Cédula</label>
        <input
          type="username"
          id="username"
          formControlName="username"
          placeholder="Ingresa tu Cédula"
          (input)="checkValidity(); formatID($event)"
        />
        <p
          *ngIf="
            forgotPasswordForm.get('username')?.dirty &&
            !forgotPasswordForm.get('username')?.valid
          "
          class="error-message"
        >
          Debes introducir un número de Cédula válido
        </p>
      </div>

      <div class="form-group">
        <label for="username">Nueva contraseña</label>
        <input
          [type]="passwordFieldType"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Ingresa tu contraseña"
          (input)="checkValidity()"
        />
        <button type="button" [attr.data-shown]="passwordFieldType === 'text'" (click)="togglePasswordVisibility()">
          Toggle
        </button>
        <p
          *ngIf="
            forgotPasswordForm.get('newPassword')?.dirty &&
            !forgotPasswordForm.get('newPassword')?.valid
          "
          class="error-message"
        >
          Debes una contraseña con al menos 8 caracteres
        </p>
      </div>

      <div class="form-group">
        <label for="username">Confirmar nueva contraseña</label>
        <input
          [type]="confirmPasswordFieldType"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Ingresa tu contraseña"
          (input)="checkValidity()"
        />
        <button type="button" [attr.data-shown]="confirmPasswordFieldType === 'text'" (click)="toggleConfirmPasswordVisibility()">
          Toggle
        </button>
        <p
          *ngIf="
            (forgotPasswordForm.get('confirmPassword')?.dirty &&
              !forgotPasswordForm.get('confirmPassword')?.valid) ||
            (!checkValidity() &&
              forgotPasswordForm.get('confirmPassword')?.dirty)
          "
          class="error-message"
        >
          Amabas contraseñas deben coincidir
        </p>
      </div>
      <button
        class="submit-btn"
        (click)="recoverPassword()"
        [disabled]="!checkValidity()"
      >
        Recupera tu contraseña
      </button>
    </form>
  </section>
</div>
